/**
*  Mise en page général avec display:grid
*/

.site__header {
  grid-area: header;
  padding: 1rem clamp(1rem, 3vw, 20rem);

  
 
}

.site__main {
  grid-area: main;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.site__footer {
  grid-area: footer;

}
.site__aside {
  h3 {
   
    font-size: 1.6rem;
    text-align: center;
  }
  grid-area: aside;
  background-color: #8ed1fc;
}

.site {
  max-width: 100vw;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
  @media screen and (min-width: $largeur__bureau) {
      grid-template-columns: 25% auto;
      grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
  }
}
.no-aside {
  grid-template-areas:
  "header"
  "main"
  "footer";
  @media screen and (min-width: $largeur__bureau) {
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
 
}
#menu-4w4  {
  a{
  color: rgb(0, 0, 0);
  }
  li {
    padding: 0.8rem;
    list-style: none;
    text-decoration: none;
    
  }
}

