.blocflex {
  display : flex;
  // justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(255,255, 255, .1);
  min-height: 20vh;

}

.blocflex__article {
display: flex;
flex-wrap: wrap;
flex: 1 0 300px;
flex-direction: column;
justify-content: space-between;
align-items: center;
text-align: center;
padding: 1rem;
border: 2px solid rgb(44, 182, 233);
margin: 0.4rem;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
h3,h5,h6,p {
  margin:0;
  padding:0;
  }
}

.blocflex__galerie {
 flex: 1 0 100%;
}

