.menu-evenement-container, //nav
.menu-bloc-archive-container {
    .menu { //ul
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .menu-item { //li
            display : flex;
            flex-direction: column;
            border : 2px solid #0080ff;
            margin : 10px;
            padding : 5px;
            
            a {
                display : flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                .title {
                    // display: block;
                    font-size: 1.3rem;
                    font-weight: 500;
                   
                }
                .description {
                    color: #252525;
                    font-size: 0.9rem;
                    padding-top: 0.7rem;
                }
                
                .menu-thumbnail {
                    display: block;
                    width: 150px;
                    height: 150px;
                    // margin-left: 2rem;
                }
                
            }
            .menu__item__evenement {
                display: inline-block;
            }

        }
    }
}
// .menu-evenement-container .menu a {
    
//     display: flex;
//     justify-content: center;
    
// }
.menu-bloc-archive-container .menu .menu-item a {
    background-repeat: no-repeat;
    display: block;
}
.bloc__cours {
    background-position: left;
    background-size: 10%;
    background-repeat: no-repeat;
    background-image: url('https://s2.svgbox.net/hero-outline.svg?ic=book-open');
}
.bloc_4w4{
    background-position: left;
    background-size: 10%;
    background-repeat: no-repeat;
    background-image: url('https://s2.svgbox.net/hero-solid.svg?ic=academic-cap');
}
.menu-bloc-archive {
    width: 200px;
    height: 100px;
}

// #menu-item-180 {
//     width: 300px;
//     a {
//         display: flex;
//     }
// }
// #menu-item-181 {
//     width: 300px;
//     a {
//         display: flex;
//     }
// }
#menu-item-214 {
    width: 300px;
    a {
        display: flex;
    }
}
#menu-item-213 {
    width: 300px;
    a {
        display: flex;
    }
}
