.site__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
   
    font-size: 2rem;
    background-color: rgb(24, 24, 24);

   
}

.site__footer section {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff;
    flex: 1 1 200px;
}