.site__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: 2rem;
    color: #aaa;
    height: 20vh;
    background-color: black;

   
}

.site__footer section {
    border: 1px solid #aaa;
    flex: 1 1 200px;
}