.site__header {
   
}
.site__header__logo{
    background-color: rgb(2, 74, 108);
}

.site__header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ----------------------------------------------------- menu-entete */
.menu-entete-container { // nav

    .menu{ // ul
        display : flex;
        list-style-type: none;
        justify-content: flex-end;
        .menu-item { //li
            color : rgb(0, 42, 85);
            a {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: white;
            font-size: 1.5rem;
            text-decoration: none;
            display : block;
            padding: 5px 20px;
            }
        }
    }
    }