/* --------------------------------------------------- Entete de la page */

.site__header {
overflow-x: hidden;
 background-color: rgb(0, 27, 40);
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 h2 {
    font-size: 2rem;
    color: #fff;
 }
 .blogTitre a {
    font-size: 3rem;
 }
 h1{
    text-align: center;
    font-size: 2rem;
    color: #fff;
 }
}

// Logo
.site__header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// positionnement de la barre de recherche
.menu__recherche {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column-reverse;
    justify-content: center;
}

/* -------------------------------------------------- menu-enetete */
#chkMenu:checked ~ .menu-entete-container  {
    transform: translateX(0);
}

.menu-entete-container { // nav
    transform : translateX(300px);
    transition : transform .5s;
    
    @media screen and (min-width:$largeur__tablette) {
        transform : translateX(0);
        align-items: center;
        justify-content: flex-end;
    }

    .menu{ // ul
        display : flex;
        position: absolute;
        top: 0;
        right: 0;
        background-color: aliceblue;
        flex-direction: column; 
        list-style-type: none;
        align-items: center;
        justify-content: flex-start;

        @media screen and (min-width : $largeur__tablette ){
           flex-direction: row; 
           align-items: center;
           justify-content: flex-end;
        }
        .menu-item { //li
            list-style: none;
            a {
            display : block;
            padding : 5px 20px;
            white-space: nowrap;
            }
        }
    }
    }
    // Design de la barre de recherche
    .recherche {
        display : flex;
        flex-wrap: nowrap;
        ::placeholder{
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }
        input {
            border-radius: 0.5rem;
            border: 2px solid #ccc;
            padding: 0.6rem;
            border-radius: 5px;
        }
        input:focus {
            outline: none;
            border-color: #6ab4ff;
            box-shadow: 0 0 5px rgba(106, 180, 255, 0.5);
        }
       
    }
    
    

