/* --------------------------------------------- link */

a{
    font-size: 1.2rem;
    text-decoration: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    &:visited {
        color: rgb(44, 182, 233);
    }
    &:hover {
        color: rgb(255, 186, 75);
        transition: 0.2s;
    }
}
.menu-entete a {
    color : rgb(44, 182, 233);
}