/* --------------------------------------------- link */

a{
    color : rgb(47, 130, 255);

    &:visited {
        color: rgb(86, 148, 255);
    }
    &:hover {
        color: rgb(255, 186, 75);
    }
}