/* Les balise qu'on utilise dans la conversion des fichiers markdown */

/* Liste */
ul,ol {}

ul > li,
ol > li{

}

ul {
    list-style-type: none;
    
}

ul> li {}

ol>li {}

li::before {
    content: "«";
    background: lightgray;
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
  }

/* ------------------------------ pre */

pre {}//affichage du code barre de défilement

code {}

i{}

blockquote{}

hr{}

strong{}

