/* Les balise qu'on utilise dans la conversion des fichiers markdown */

/* Liste */
ul,ol {}

ul > li,
ol > li{

}
main {
  padding: 0.8rem;
}
main h2 {
  font-size: 1.3rem;
  text-align: center;
}
main ul {
  margin: 1rem;
  list-style-type: none;
  font-size: 1.2rem;
  
  padding: 0; // pour enlevez l'espacement à gauche
  main li {
    
  }
}



ol>li {}


main li::before {
    content: "»";
    background: rgb(48, 200, 255);
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    margin-inline-end: 0.5rem;
  }

/* ------------------------------ pre */

pre {
 
}//affichage du code barre de défilement

code {}

i{}

blockquote{}

hr{}

strong{}

